body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98vh;
}

h1 {
  text-align: center;
  font-size: 45px;
  font-family: "Brush Script MT", "Brush Script Std", cursive;
}

.inner-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid {
  height: 1cm;
  width: 1cm;
  border: 1px solid black;
}

.break {
  flex-basis: 100%;
}

footer {
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
